<nav
  block:scope
  ...attributes
>
  <div block:class="title">
    {{@workspace.name}}
  </div>

  <div block:class="item">
    <div block:class="icon">
      {{svg-jar "icn_event" class="o-icon"}}
    </div>
    <div block:class="label">
      <LinkTo
        @route="workspaces.workspace.events"
        @model={{@workspace}}
      >
        Events
      </LinkTo>
    </div>
  </div>

  <div block:class="item">
    <div block:class="icon">
      {{svg-jar "icn_artist" class="o-icon"}}
    </div>
    <div block:class="label">
      <LinkTo
        @route="workspaces.workspace.artists"
        @model={{@workspace}}
      >
        Artists
      </LinkTo>
    </div>
  </div>

  <div block:class="item">
    <div block:class="icon">
      {{svg-jar "icn_venue" class="o-icon"}}
    </div>
    <div block:class="label">
      <LinkTo
        @route="workspaces.workspace.events"
        @model={{@workspace}}
      >
        Venues
      </LinkTo>
    </div>
  </div>
  <div block:class="spacer"></div>
  <div block:class="item">
    <div block:class="icon">
      {{svg-jar "icn_settings" class="o-icon"}}
    </div>
    <div block:class="label">
      <LinkTo
        @route="workspaces.workspace.settings"
        @model={{@workspace}}
      >
        Settings
      </LinkTo>
    </div>
  </div>
</nav>
